@font-face {
    font-family: satoshi;
    src: url(./Satoshi-Light.woff);
}
@font-face {
    font-family: alvy;
    src: url(./alvy.woff2);
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: satoshi;
}
html {
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}
body{
        background-color: black;
}
main{
    width: 100%;
    height: 100%;
    @include flex-column;
    align-items: center;
    
 section{
        max-width: 1600px;
        @include flex-column;
 }

    section.view1{
        width: 100%;
        padding: 1rem;
        @include flex-column;
        gap: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .bottom{
            color: white;
            @include flex-column;
            
            gap: 1rem;
            background-color: rgba(46, 45, 45, 0.508);
            padding: 1rem;
            border-radius: 10px;

            h2{
                text-transform: uppercase;
                font-size: 1.4rem;
               
            }

            .text{
                @include flex-column;
                gap: 1rem;
                width: 90%;
                
                h3{
                    text-transform: uppercase;
                     letter-spacing: 1px;
                     font-size: 2.4rem;
                     font-weight: 300;

                }
                p{
                    opacity: 0.3;
                    font-size: 1.5rem;
                    width: 80%;
                }
                button{
                    width: fit-content;
                    background-color: rgba(59, 58, 58, 0.892);
                    backdrop-filter: blur(0px);
                    border: 1px solid white;
                    padding: 0.4rem;
                    border-radius: 50%;

                    i{
                        color: white;
                    }
                }
            }
        }
    }
    section.view2{
        @include flex-row;
        padding: 3rem 1rem;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        .top,.bottom{
            @include flex-column;
            text-align: center;
            gap: 1.5rem;
            .element{
                @include flex-column;
                gap: 0.6rem;
            }
                h5{
                    opacity: 0.5;
                    font-size: 1rem;  
                    text-transform: uppercase;
                }
                h2{
                    font-size: 3rem;
                }
            }
        }
     }
@media (min-width:900px) {
    main{

        section.view1{
            display: flex;
            flex-direction: row;
            .bottom{
                @include flex-column;
                justify-content: space-between;

                .text{
                @include flex-column;
                gap: 2rem;
                h3{
                    font-size: 4rem;
                }
            }
         }
            .top,.bottom{
                width: 50%;
            }

            
        }
       section.view2{
        width: 100%;
        .top,.bottom{
            @include flex-row;
            width: 100%;
            justify-content: space-evenly;
            .element{
                @include flex-column;
            }
         
        }
       }
        }

}