@mixin flex{
            display: flex;
        flex-direction: column;
        font-family: helvetica;
}
@font-face {
    font-family: helvetica;
    src: url(./HelveticaNeueLight.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;

    section.view1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.5rem;
            }
        }
        .bottom{
            width: 100%;
            background-color: aqua;
            
        }
    }        
}